<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>test</h1>
    <p>a page that should work in elinks</p>
    <div>
        <form action="/file" method="post" enctype="multipart/form-data">
            <label for="username">username:</label><br>
            <input type="text" id="username" name="name_username"><br>
            <label for="password">password:</label><br>
            <input type="password" id="password" name="name_password"><br>
            <input type="submit" id="submit" name="name_submit"><br>
        </form>
        <a href="test.html2">html2</a>
        <table>
            <tr>
                <th>aa</th>
            </tr>
        </table>
    </div>
</body>
</html>
